!!!
html
    head
        title= AXB Cagnote
        link(rel='stylesheet', href='css/bootstrap.min.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='js/boostrap.min.js')
    body
        block content

